<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia atque perferendis molestiae soluta consectetur culpa, veritatis velit illo. Velit dolores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint alias molestias dignissimos temporibus, non consequatur explicabo incidunt aliquid corrupti officia!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga sit aperiam dolorum maiores quaerat? Ab dolore debitis excepturi sequi consequuntur incidunt.</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>